name: "Publish to pypi.org"

on:
  release:
    types: ["published"]

jobs:
  build:
    name: "Build Distribution"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - run: "python3 -m pip install build --user"

      - run: "python3 -m build"

      - uses: actions/upload-artifact@v5
        with:
          name: "python-package-distributions"
          path: "dist/"

  publish:
    name: "Publish Distribution"
    runs-on: "ubuntu-latest"
    needs: ["build"]
    environment: { name: "pypi", url: "https://pypi.org/p/cvproxy" }
    permissions: { id-token: "write" }

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: "python-package-distributions"
          path: "dist/"

      - uses: pypa/gh-action-pypi-publish@release/v1
